!Préparation
hostname {{ inventory_hostname }}
enable secret {{ password }}
line console 0
password {{ password }}
login
line vty 0 4
password {{ password }}
login
banner motd #prohibited access denied#

!e0 (linked to switch_HQ)
interface gigabitethernet0/0
ip address 10.2.0.1 255.255.255.252
no sh

!e8 (linked to e1 firewall)
interface gigabitethernet0/8
ip address 192.168.100.6 255.255.255.252
no sh

!e9 (linked to cloud_Branch)
interface gigabitethernet0/9
ip address 100.100.100.200 255.255.255.255
no sh

!Static routing
!Branch subnets (through switch_branch)
ip route 10.2.32.0 255.255.224.0 10.2.0.2
ip route 10.2.64.0 255.255.224.0 10.2.0.2
ip route 10.2.96.0 255.255.224.0 10.2.0.2

!HQ subnets (through firewall)
ip route 10.1.32.0 255.255.224.0 192.168.100.5
ip route 10.1.64.0 255.255.224.0 192.168.100.5
ip route 10.1.96.0 255.255.224.0 192.168.100.5