!Préparation
ip routing
hostname {{ inventory_hostname }}
enable secret {{ password }}
line console 0
password {{ password }}
login
line vty 0 4
password {{ password }}
login
banner motd #prohibited access denied#

!Préparation des vlan et leurs IPs
!vlan 4 (Employees)
vlan 4
name Emps
interface range gigabitethernet0/2-3
switchport mode access
switchport access vlan 4
no sh
interface gigabitethernet1/0
switchport mode access
switchport access vlan 4
no sh
interface vlan 4
ip address 10.2.32.1 255.255.224.0
ip helper-address 10.1.64.2
no sh

!vlan 5 (ATM1)
vlan 5
name ATM1
interface gigabitethernet0/0
switchport mode access
switchport access vlan 5
no sh
interface vlan 5
ip address 10.2.64.1 255.255.224.0
ip helper-address 10.1.64.2
no sh

!vlan 6 (ATM2)
vlan 6
name ATM2
interface range gigabitethernet0/1
switchport mode access
switchport access vlan 6
no sh
interface vlan 6
ip address 10.2.96.1 255.255.224.0
ip helper-address 10.1.64.2
no sh

!interface e9 (linking to the router)
interface gigabitethernet0/0
no switchport
ip address 10.2.0.2 255.255.255.252
no sh

!global default-route
ip route 0.0.0.0 0.0.0.0 10.1.0.1