# Env
.env
.env.local
.env.production

# Deps
node_modules/

# Build
dist/
build/

# Logs
logs/
*.log

# SSL
infrastructure/nginx/ssl/*.pem
infrastructure/nginx/ssl/*.key
infrastructure/nginx/ssl/*.crt

# Backups
backups/
*.sql.gz

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
